Repository alwc/vlaams-twitter-sentiment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build CI image (feature), Build CI image (development), Build CI image (acceptance), Build CI image (production), Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Build CI image (feature):
  image: docker:stable
  services:
  - docker:dind
  stage: build
  script:
  - echo -n $CI_JOB_TOKEN | docker login --username gitlab-ci-token --password-stdin $CI_REGISTRY
  ...

Build CI image (development):
  image: docker:stable
  services:
  - docker:dind
  stage: build
  script:
  - echo -n $CI_JOB_TOKEN | docker login --username gitlab-ci-token --password-stdin $CI_REGISTRY
  ...

Build CI image (acceptance):
  image: docker:stable
  services:
  - docker:dind
  stage: build
  script:
  - echo -n $CI_JOB_TOKEN | docker login --username gitlab-ci-token --password-stdin $CI_REGISTRY
  ...

Build CI image (production):
  image: docker:stable
  services:
  - docker:dind
  stage: build
  script:
  - echo -n $CI_JOB_TOKEN | docker login --username gitlab-ci-token --password-stdin $CI_REGISTRY
  ...

Deploy package (feature):
  image: $CI_REGISTRY_IMAGE:feature
  stage: deploy
  script:
  - invoke serverless.deploy
  - invoke sentry.create-deployment
  artifacts:
    when: always
    untracked: true
  environment:
    name: feature

Deploy package (development):
  image: $CI_REGISTRY_IMAGE:development
  stage: deploy
  script:
  - invoke serverless.deploy
  - invoke sentry.create-deployment
  artifacts:
    when: always
    untracked: true
  environment:
    name: development

Deploy package (acceptance):
  image: $CI_REGISTRY_IMAGE:acceptance
  stage: deploy
  script:
  - invoke serverless.deploy
  - invoke sentry.create-deployment
  artifacts:
    when: always
    untracked: true
  environment:
    name: acceptance
  when: manual

Deploy package (production):
  image: $CI_REGISTRY_IMAGE:production
  stage: deploy
  script:
  - invoke serverless.deploy
  - invoke sentry.create-deployment
  artifacts:
    when: always
    untracked: true
  environment:
    name: production
  when: manual

Update tf
  .cruft.json
  .gitlab-ci.yml
  README.md
  buildspec/apply-buildspec.yaml
  buildspec/buildplan-buildspec.yaml
  environment.dev.yml
  main.tf
  src/sentiment_flanders/config/terraform.tfvars.json
  state.tf
  tasks/terraform.py
  terraform/main.tf
Due: Build CI image (feature), Build CI image (development), Build CI image (acceptance), Build CI image (production), Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Add workspace prefix
  .cruft.json
  terraform/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

TF bugfix
  src/sentiment_flanders/config/terraform.tfvars.json
  terraform/main.tf
  terraform/modules/cloudfront_distribution/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Bugfix tf
  terraform/main.tf
  terraform/modules/https_certificate/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Bugfix tf
  terraform/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Add tfvars.json file
  terraform/test.tfvars.json
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Add defaults to tfvars
  terraform/variables.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Add deploy in variables.tf
  terraform/variables.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Bugfix tf vars
  terraform/variables.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Remove vars.deploy
  terraform/main.tf
  terraform/modules/runtime_config/main.tf
  terraform/variables.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Remove vars.deploy
  terraform/modules/runtime_config/variables.tf
Due: none

Update region for http certificate
  terraform/main.tf
  terraform/modules/runtime_config/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Update region for http certificate
  terraform/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Add new s3 bucket, rename 'production' to 'default'
  src/sentiment_flanders/batch/dynamodb.py
  src/sentiment_flanders/batch/main.py
  src/sentiment_flanders/batch/update_historical.py
  src/sentiment_flanders/config/config.py
  terraform/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Update data s3 bucket
  terraform/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Revert quote changes in terraform
  .gitignore
  environment.dev.yml
  src/sentiment_flanders/batch/main.py
  terraform/modules/cloudfront_distribution/main.tf
  terraform/modules/https_certificate/main.tf
Due: Build CI image (feature), Build CI image (development), Build CI image (acceptance), Build CI image (production)

New domain
  Dockerfile
  src/sentiment_flanders/batch/twitter_api.py
  terraform/main.tf
Due: Build CI image (feature), Build CI image (development), Build CI image (acceptance), Build CI image (production), Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Comment domain-related terraform
  terraform/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Package-slug to kebab
  terraform/variables.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Add cloudar domain
  terraform/main.tf
Due: Deploy package (feature), Deploy package (development), Deploy package (acceptance), Deploy package (production)

Update serverless.yml
  .gitignore
  Dockerfile
  src/sentiment_flanders/batch/main.py
  src/serverless.yml
Due: Build CI image (feature), Build CI image (development), Build CI image (acceptance), Build CI image (production)

add invoke serverless to apply-buildspec
  buildspec/apply-buildspec.yaml
Due: none

pip install coloredlogs
  buildspec/apply-buildspec.yaml
Due: none

git init
  buildspec/apply-buildspec.yaml
Due: none

comment pre task
  tasks/serverless.py
Due: none

remove assume role
  tasks/serverless.py
Due: none

remove asume role
  tasks/serverless.py
Due: none

commit
  tasks/serverless.py
Due: none

commit, adjust account and role info
  tasks/aws.py
  tasks/serverless.py
Due: none

adjust role name
  .cruft.json
  tasks/aws.py
Due: none

adjust bucket name
  tasks/terraform.py
Due: none

comment terraform deploy
  tasks/terraform.py
Due: none

more to comment
  tasks/terraform.py
Due: none

update s3 tf statebucket
  tasks/terraform.py
Due: none

remove invoke serverless again
  buildspec/apply-buildspec.yaml
Due: none

changed path
  terraform/modules/serverless_yml/main.tf
Due: none

rename serverless.yml
  src/Old_serverless.yml
Due: none

aanpassen terraform.py
  buildspec/apply-buildspec.yaml
Due: none

aanpassen terraform.py
  src/serverless.yml
  tasks/serverless.py
  tasks/terraform.py
Due: none

Path conditions:
  Build CI image (feature): any of: .gitlab-ci.yml, Dockerfile, environment*.yml
  Build CI image (development): any of: .gitlab-ci.yml, Dockerfile, environment*.yml
  Build CI image (acceptance): any of: .gitlab-ci.yml, Dockerfile, environment*.yml
  Build CI image (production): any of: .gitlab-ci.yml, Dockerfile, environment*.yml
  Deploy package (feature): any of: terraform/*
  Deploy package (development): any of: terraform/*
  Deploy package (acceptance): any of: terraform/*
  Deploy package (production): any of: terraform/*
